.poke__types > li{
    background: lightblue;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    color: rgb(53, 53, 53);
    font-variant: small-caps;
}
  
.poke__name {
    text-transform: capitalize;
    border-top: 3px solid rgb(53, 53, 53);
    border-bottom: 3px solid rgb(53, 53, 53);
}

.poke__types {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.fav{
    background-color: gold;
}